    <footer class="footer">
      <div class="container">
        <span class="text-muted">  
			MONTE by <a href="https://fast.md/">FAST</a>	
        	<%= link_to "Монтессори", "#" %>
        	<%= link_to "Контакты", "#" %>
  		</span>
      </div>
    </footer>
    